@{
    ViewBag.Title = "Home Page";
}
<style>
    .col-md-3 {
        text-align:left;
    }
  
    
</style>

<div class="row">
    <div class="col-md-3">
        <h2 class="ms-ju">Склад Восточный</h2>
        <p class="ms-ju">Торговля, склад, <br>заказы</p>
        
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Склад Южный</h2>
        <p>Торговля, склад,<br>заказы</p>
        
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Склад Западный</h2>
        <p>Торговля, склад,<br>заказы</p>
        
    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <h2>Склад Северный</h2>
        <p>Торговля, склад,<br>заказы</p>
        
    </div>
</div>



