@model Skladapp.Models.Providers

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Поставки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата поставки
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dates)
        </dd>

        <dt>
            Фамилия принявшего сотрудника
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Sername)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться обратно", "Index")
        </div>
    }
</div>
